<table class="racedatagrid">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Race ID</th>
            <th>Round</th>
            <th>Racer ID</th>
            <th>Lane</th>
            <th>Dial-in</th>
            <th>RT</th>
            <th>60ft</th>
            <th>330ft</th>
            <th>660ft</th>
            <th>660ft Speed</th>
            <th>1000ft</th>
            <th>1000ft Speed</th>
            <th>ET</th>
            <th>ET Speed</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in RaceResults)
        {
            <tr>
                <th>@item.Timestamp.ToString("yyyy-MM-dd")</th>
                <th>@item.Timestamp.ToString("HH:mm:ss")</th>
                <th>@item.RaceId</th>
                <th>@item.Round</th>
                <th>@item.RacerId</th>
                <th>@item.Lane</th>
                <th>@ToSecondString(item.DialIn, 4)</th>
                <th>@ToSecondString(item.ReactionTime)</th>
                <th>@ToSecondString(item.SixtyFeetTime)</th>
                <th>@ToSecondString(item.ThreeThirtyFeetTime)</th>
                <th>@ToSecondString(item.SixSixtyFeetTime)</th>
                <th>@ToSpeedString(item.SixSixtyFeetSpeed)</th>
                <th>@ToSecondString(item.ThousandFeetTime)</th>
                <th>@ToSpeedString(item.ThousandFeetSpeed)</th>
                <th>@ToSecondString(item.FinishTime)</th>
                <th>@ToSpeedString(item.FinishSpeed)</th>
                <th>@item.Result</th>
            </tr>
        }
    </tbody>
</table>

@code
{
    [Parameter]
    private IEnumerable<CompetitionViewer.Services.RaceData>RaceResults { get; set; }
}

@functions
{
        protected string ToSpeedString(double value)
        {
            return value.ToString("0.000", System.Globalization.CultureInfo.InvariantCulture);
        }

        protected string ToSecondString(TimeSpan timeSpan)
        {
            return ToSecondString(timeSpan, 5);
        }

        protected string ToSecondString(TimeSpan timeSpan, int accuracy)
        {
            var format = "s";

            if (accuracy > 0)
            {
                format += "\\." + string.Empty.PadRight(accuracy, 'f');
            }

            var sign = string.Empty;
            if (timeSpan < TimeSpan.Zero)
            {
                sign = "-";
            }

            return sign + timeSpan.ToString(format);
        }
    }
